.alternativeSection{
    border-style: solid;
    border-color: rgb(220,220,220);
    border-radius: 10px;
}

.alternative-form{
    padding: 0%;
}

.campos-layout
{
    margin-left: var(--lumo-space-m);
}
