.header-custom{
  background-color: RGB(24,39,90)
}
.header-custom a{
  color: white
}

.text-custom
{
    color: white;
}

vaadin-app-layout #drawer {
  background-color: RGB(24,39,90) !important;
    color: white !important;
}

.clase-icono{
color: #f3ae01
}

.custom-link a :highlight {
    color: #f3ae01 !important
}